@import '~@dtcg/design-tokens/dist';

.nirvanaBtn {
  border: $standard-border;
  padding: $standard-padding;
  border-radius: $standard-radius;
  outline: none;
  cursor: pointer;
  color: var(--nirvana-foreground);
  white-space: nowrap;
  width: fit-content;
  margin-left: 2px;
  position: relative;
  min-width: 28px;
  line-height: 100%;

  &-primary {
    background: $color-primary;
  }
}
