@import '~@dtcg/design-tokens/dist';

.nirvana-alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: $standard-border-size solid transparent;
  border-radius: .25rem;
  display: block;
  opacity: 0.85;

  &:hover {
    opacity: 1;
  }

  &.border-1 {
    border: 1px solid
  }

  @include colors(alert, 'background');
  @include colors(color, 'color');
}
