@import '~@dtcg/design-tokens/dist';

.nirvana-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--nirvana-backdrop-9);
  background-clip: border-box;
  border-radius: $standard-radius;
  margin: $standard-margin 0;
  overflow: hidden;

  &-header {
    display: flex;
    align-items: center;
    padding: $standard-padding;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  }

  &-body {
    flex: 1 1 auto;
    padding: $standard-padding;
  }

  &-footer {
    padding: $standard-padding;
    background-color: rgba(0, 0, 0, .03);
    border-top: 1px solid rgba(0, 0, 0, 0.09);
  }

  &-image {
    @include flex-position-center;
    width: 100%;
    height: 75%;
    background: var(--nirvana-backdrop-3);

    svg {
      font-size: $h1-font-size;
    }

    img {
      width: 100%;
    }

    i {
      font-size: 48px;
      color: var(--nirvana-primary);
    }
  }

  @include colors(card, 'background');
}
