.nirvana-form-row {
  display: flex;
  border: 1px solid var(--nirvana-dark-backdrop-3);
  border-radius: $standard-radius;

  .nirvana-select,
  .nirvana-btn,
  .nirvana-input {
    border-radius: 0;
    border: 0;
    border-left: 1px solid var(--nirvana-dark-backdrop-3);
  }

  .nirvana-select {
    width: 100%;
    background-color: transparent;
  }
}

.nirvana-form-group,
.nirvana-input-group {
  display: flex;
  padding-bottom: $standard-padding;
  width: 100%;

  .nirvana-input-group-prepend,
  .nirvana-input-group-append {
    background: var(--nirvana-backdrop-9);
    border: $standard-border;
    min-width: 24px;
    @include flex-position-center;
    color: var(--nirvana-primary);
    cursor: pointer;
  }

  .nirvana-input-group-prepend {
    @include rtlOrLtr(border-top-right-radius, border-top-left-radius, $standard-radius, $standard-radius);
    @include rtlOrLtr(border-bottom-right-radius, border-bottom-left-radius, $standard-radius, $standard-radius);
    @include rtlOrLtr(border-left, border-right, 0, 0);
  }

  .nirvana-input-group-append {
    @include rtlOrLtr(border-top-left-radius, border-top-right-radius, $standard-radius, $standard-radius);
    @include rtlOrLtr(border-bottom-left-radius, border-bottom-right-radius, $standard-radius, $standard-radius);
    @include rtlOrLtr(border-right, border-left, 0, 0);
  }

  label {
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nirvana-form-input-description {
    color: var(--nirvana-gray-light);
    transition: $standard-animation;
  }

  &:hover {
    .nirvana-form-input-description {
      color: var(--nirvana-gray);
    }
  }
}

.nirvana-form-group {
  flex-direction: column;
}

.nirvana-label {
  padding: 0 5px;
}
