// stylelint-disable no-duplicate-selectors
@import '~@dtcg/design-tokens/dist';

::-webkit-scrollbar {
  background: $gray-100;
  height: 7px;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border: 1px solid $gray-300;
  background: $gray-500;
  cursor: pointer;
}

body.sb-show-main.sb-main-padded {
  padding: 0;
  width: 100%;
}

.reactx-column {
  border: 1px solid #ccc;
  justify-content: center;
  align-items: center;
  min-height: 50px;
}

.reactx-comment {
  .reactx-column {
    border: none;
    justify-content: unset;
    align-items: center;
    min-height: unset;
  }
}

.reactx-pallet {

  .reactx-column {
    border-width: 0;
    font-size: 0;
    transition: all 0.3s ease;
    color: #fff;
    cursor: pointer;
    user-select: all;
  }

  .reactx-column:Hover {
    font-size: 1em;
    color: #fff;
  }
}

.reactx-border-section {
  .reactx-column {
    border: 0px;
  }
}

.reactx-modal-container,
.reactx-toast-container,
.reactx-tooltip {
  position: absolute;
}

.icon-preview {
  background-color: #eaeaea;
  justify-content: center;
  flex-direction: column;
  display: inline-flex;
  align-items: center;
  height: 120px;
  width: 120px;
  margin: 1px;

  span {
    user-select: text;
    margin-top: 10px;
    font-size: 9px;
  }

  &:hover {
    background-color: #cacaca;
  }
}

.reactx-btm-navigation {
  position: absolute;
}
